{% extends 'base.html.twig' %}

{% block title %}Send to {% endblock %}

{% block body %}
    <div class="container col-sm-4 mt-5">
        <h1 class="mb-5">Contact {{ user.name }}</h1>
        {{ form_start(contact_form) }}
        <div class="form-group">
            <label class="required">Recipient's email</label>
            <input type="text" class="form-control" name="" value="{{ user.email }}" readonly>
        </div>
        {{ form_end(contact_form) }}
    </div>

{% endblock %}
